@import "../../vars";

.record-list {
  background: $backgroundSecondary;
  //padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  .tags{
    overflow: hidden;
    overflow-x: scroll;
    margin: 4px;
    display: flex;
  }
  .record {
    width: 100%;
    //margin: 5px;
    //@media(min-width: 700px) {
    //  width: calc(50% - 10px);
    //}
    //@media(min-width: 1500px) {
    //  width: calc(33.3% - 10px);
    //}
    //@media(min-width: 1900px) {
    //  width: calc(25% - 10px);
    //}

    &:last-child {
      margin-bottom: 60px;
    }
  }

  &.show-form {
    filter: blur(10px);
  }

  .records-list-progress {

  }
  .sort{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    font-size: 16px;

    .counter{
    }
  }

}
button.link{
  background: 0;
  border: 0;
  padding: 0;
}
