.record-list{
    background: #f5f5f5;
    padding: 10px;
    // min-height: 100vh;
    // margin: 50px 0;
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    top: 50px;
    height: calc(100vh - 50px - 60px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    .record{
        // width: 40%;
        // flex-grow: 1;
        width: 100%;
        margin: 5px;
        @media(min-width: 700px){
            width: calc(50% - 10px);
        }
        @media(min-width: 1500px){
            width: calc(33.3% - 10px);
        }
        @media(min-width: 1900px){
            width: calc(25% - 10px);
        }
    }
    &.show-form{
        filter: blur(10px);
    }
    .records-list-progress{

    }
}
