{
  "rules": {
    "indent": ["error", 4],
    "no-console": "error",
    "quotes": [2, "double"],
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "react/button-has-type": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "import/prefer-default-export": "off"
  },
  "extends": [
    "react-app",
    "airbnb"
  ],
  "plugins": [
    "eslint-plugin-jsx-a11y",
    "eslint-plugin-react",
    "eslint-plugin-react-hooks",
    "eslint-plugin-import",
    "eslint-plugin-flowtype"
  ]
}
