.create-record{
    .button-wrapper{
        display: flex;
        position: fixed;
        justify-content: flex-end;
        padding: 24px;
        bottom: 0;
        width: 100%;

        button{
            padding: 0;
            background: transparent;
            background-image: url('./assets/add_button.svg');
            filter: drop-shadow(0 0 16px #A08BD3);
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 54px;
            border: 0;
            margin-top: -20px;
            z-index: 20;
        }
    }

    //.


}
