@import "../../vars";
.profile{
  .header {
    display: flex;
    background-color: $accent;
    padding: 16px;

    .name {
      margin-left: 16px;
      font-size: 22px;
      color: white;
      font-weight: bold;
    }


  }
  .button-container {
    display: flex;
    button:first-child {
      flex: 1 !important;
      margin-right: 8px;
    }
  }
}
